img#img2 {
    width: 700px;
    height: 70px;
    margin-top: 30px;
    -webkit-animation: fadeInLeft 1.5s both 0.3s;
}

img#img3 {
    width: 190px;
    padding: 10px;
    -webkit-animation: zoomIn 1.5s both 0.6s;
}

img#img4 {
    width: 180px;
    padding: 10px;
    -webkit-animation: zoomIn 1.5s both 0.9s;
}

img#img5 {
    width: 140px;
    padding: 10px;
    -webkit-animation: zoomIn 1.5s both 1.2s;
}

img#img6 {
    width: 140px;
    padding: 10px;
    -webkit-animation: zoomIn 1.5s both 1.5s;
}

img#img7 {
    width: 187px;
    padding: 10px;
    -webkit-animation: zoomIn 1.5s both 1.8s;
}

img#img8 {
    -webkit-animation: fadeInLeft 1.5s both 2.1s;
}

img#img9 {
    width: 90px;
    -webkit-animation: zoomIn 1.5s both 1.8s;
    -webkit-transition: left 1s;
    z-index: 10;
    position: absolute;
    top: 410px;

}
.pos1{
    left: 90px;
}
.pos2{
    left: 265px;
}
.pos3{
    left: 435px;
}
.pos4{
    left: 570px;
}
.pos5{
    left: 740px;
}

#successDiv{
    text-align: center;
    color: #f2f2f2;
}

#errorDiv{
    text-align: center;
    color: #f2f2f2;
}

#slideData{
 height:100%;
}

#dataForm{
 height:100%;
}

#submitDiv{
    text-align: center;
}
#submitBtn{
    margin-top: 50px;
    font-size: larger;
    min-width: 200px;
    background: #014674;
}

#retryBtn{
    margin-top: 30px;
    font-size: larger;
    min-width: 200px;
    background: #014674;
    color: #f1f1f1;
}

.thanksText{
    padding-top: 200px;
}

.errorText{
    padding-top: 100px;
}

#submitBtn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}


img#img10 {
    width: 940px;
    -webkit-animation: zoomIn 1.5s both 1.8s;
    -webkit-transition: left 1s;
    z-index: 10;
}

img#img10 {
    -webkit-animation: fadeInLeft 1.5s both 2.1s;
}

.emot {
    opacity: 0.6;
    transition: opacity 2s;
}

#selectionDiv{
    margin:20px;
    padding: 20px;
}

label > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
    cursor:pointer;
    border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
    opacity: 1;
}

#attempts_div p {
    font-size: 30px;
    margin-left: 65px;
    color: white;
}

.attempt_placeholder {
    height: 60px;
}