<div id="contentBody" class="av">
    <div id="slide-content" class="slide-content">
        <div id="headerSection">
            <div class="row col-12">
                <img src="../assets/images/02.png" id="img2" />
            </div>
        </div>
        <div class="attempt_placeholder">
            <div id="attempts_div" class="row" *ngIf="lastAttempt.value != ''">
                <p>The last attempt was
                    <strong>{{lastAttempt.value}}</strong> which was made at
                    <strong>{{lastAttempt.date | amDateFormat:'LL'}}</strong>. </p>
            </div>
        </div>
        <form id="dataForm">
            <div id="slideData" *ngIf="showForm" class="visible">

                <div id="selectionDiv" class="row">
                    <label>
                        <input type="radio" #option1 (click)="valueChange(option1.value)" name="emotion" value="1" />
                        <img src="../assets/images/03.png" id="img3" class="emot" data-adoption="Attention" />
                    </label>

                    <label>
                        <input type="radio" #option2 (click)="valueChange(option2.value)" name="emotion" value="2" />
                        <img src="../assets/images/04.png" id="img4" class="emot" data-adoption="Interest" />
                    </label>

                    <label>
                        <input type="radio" #option3 (click)="valueChange(option3.value)" name="emotion" value="3" />
                        <img src="../assets/images/05.png" id="img5" class="emot" data-adoption="Desire" />
                    </label>

                    <label>
                        <input type="radio" #option4 (click)="valueChange(option4.value)" name="emotion" value="4" />
                        <img src="../assets/images/06.png" id="img6" class="emot" data-adoption="Action" />
                    </label>

                    <label>
                        <input type="radio" #option5 (click)="valueChange(option5.value)" name="emotion" value="5" />
                        <img src="../assets/images/07.png" id="img7" class="emot" data-adoption="Advocate" />
                    </label>

                </div>

                <div class="row">
                    <div>
                        <img src="../assets/images/09.png" id="img9" [ngClass]="position" />
                    </div>
                    <div class="col col-12">
                        <img src="../assets/images/10.png" id="img10" />
                    </div>
                </div>

                <div id="submitDiv" class="row col-12">

                    <div class="col-4"></div>
                    <div class="col-4">
                        <button type="button" id="submitBtn" class="btn btn-info" (click)="startService()">SEND
                        </button>
                    </div>
                    <div class="col-4"></div>
                </div>
            </div>

            <div id="successDiv" *ngIf="showSuccess">
                <h1 class="thanksText">Thank You</h1>
            </div>

            <div id="errorDiv" *ngIf="showError">
                <h1 class="errorText">Error</h1>
                <div class="errormessage">{{errorMsg}}</div>
                <button type="button" id="retryBtn" class="btn btn-warning" (click)="retry()">Retry</button>
            </div>
        </form>
    </div>

</div>