<div class="row">
  <div class="col-lg-8 mx-auto download-div">
    <h2>Download Reports</h2>
    <!-- <p class="lead">This is a great place to talk about your webpage. This template is purposefully unstyled so you can use it as a boilerplate or starting point for you own landing page designs! This template features:</p> -->
    <a href="api/adoption/report1/download" class="btn btn-success">Download Report 1</a>
    <br><br>
    <a href="api/adoption/report2/download" class="btn btn-success">Download Report 2</a>
  </div>
</div>