<div id="login-form-div">
    <form id="login-form">
        <mat-form-field appearance="outline">
            <mat-label>Rep MI ID</mat-label>
            <input matInput id="repID" name="repID" placeholder="168400" [formControl]="repID" required minlength="5">
            <mat-hint>The medical Rep MI ID that appears in MI</mat-hint>
            <mat-error *ngIf="repID.hasError('required')">
                Rep ID is
                <strong>required</strong>
            </mat-error>
        </mat-form-field>


        <button class="btn btn-primary" [disabled]="repID.hasError('required')" (click)="checkLogin()">Login</button>

    </form>
</div>