/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/dist/css/bootstrap.min.css';

#slide-content {
  width: 99%;
  height: 500px;
  position: relative;
  // padding: 10px;
  // margin-top:25px;
}

#contentDiv {
  background: url("../src/assets/images/01.png");
  height: 768px;
}

#contentBody {
  height: 500px;
}

img {
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

.notAv {
  display: none;
}

.av {
  display: block;
}

#headerSection {
  height: 100px;
  font-size: large;
  color: #a20101;
  text-align: center;
}

#footerSection {
  height: 100px;
  font-size: large;
  color: #a20101;
  text-align: center;
}



#ThanksBody {
  text-align: center;
}

#ThanksBody > p > span {

}

#ThanksBody > p {
  color: #009A68;
}

#ThanksBody #exitBtn2 {
  background: #a20101;
  width: 325px;
}

#ThanksBody > p > img {
  width: 100px;
  vertical-align: middle;
}

#errorBody {
  text-align: center;
}

#errorBody > p > span {
  display: inline-block;
  width: 410px;
  vertical-align: middle;
  line-height: 31px;
  color: #F44336;
}

#errorBody > p {
  color: #009A68;
}

#errorBody #exitBtn2 {
  background: #a20101;
  width: 325px;
}

#errorBody > p > img {
  width: 100px;
  vertical-align: middle;
}


#submitBtn img, #clearBtn img {
  width: 107px;
  position: initial;
}

#thanksImg {
  position: absolute;
  top: 90px;
  left: 27%;
}

#errorMessage {
  position: absolute;
  top: -26%;
  border-radius: 10px;
  padding: 20px;
  background: #FFFFFF;
  color: #A20101;
  display: none;
}

.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}
